  <!-- <header class="header ng-scope">
  <div class="container-fluid">
      <div class="navbar-header d-flex align-items-center justify-content-between">
        <div class="brand-logo" >
          <img src="assets/images/yantra_logo.jpg">
        </div>
        <div class="company_name"> 
          <h4>RABWIN INDUSTRIES&nbsp;PVT.LTD</h4>
       

        </div>
      </div>
  </div>
</header>
<div class="container-fluid">
<div class="page-title">

 <h5>Sign in continue with Code Compare</h5>
  
<fieldset>
<form [formGroup]="login" (ngSubmit)="logintest(login.value)">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email_id" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-reflect-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a"  required>
    <mat-error *ngIf="login.get('email_id').hasError('email')"> Enter valid email address</mat-error>

  </mat-form-field><br>

  
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    
    <input matInput formControlName="password" [type]="visible? 'text' : 'password'"  required>
     <mat-icon  *ngIf="visible" slot="end" matSuffix (click)='visible = !visible'>visibility_off</mat-icon>
    <mat-icon *ngIf="!visible" slot="end"  matSuffix (click)='visible = !visible'>visibility</mat-icon>
  </mat-form-field><br>
   <button mat-raised-button color="primary" >Submit</button>
</form>

</fieldset>



<footer class="main-footer ng-scope">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-right">
        <p>Powered by <a target="blank" href="https://www.altiussolution.com" class="external"><img src="/assets/images/favicon.png" style="height: 25px;">Yantra24x7</a></p>
      </div>
    </div>
  </div>
</footer>
<div ng-include="'footer.html'"></div> -->

<!-- 
priya -->

<div class="container-fluid login-img">
  <div class="login-page">
  <div class=" rabwin-login d-flex align-items-center">
    <div>
<mat-card >
  <mat-card-header >
      <header class="header ng-scope">
          <!-- <div class="container-fluid">
              <div class="navbar-header d-flex align-items-center justify-content-between">
                <div class="brand-logo" >
                  <img src="assets/images/yantra_logo.jpg">
                </div>
                  <img ng-show="tenant_id == 1" src="assets/images/logo_nd.jpg" alt="person">
                <div class="company_name">
                  <p>RABWIN INDUSTRIES&nbsp;PVT.LTD</p>
                 <p> Sign in continue with Code Compare</p>
               
        
                </div>
              </div>
          </div> -->
          <mat-card-title>
            <div class="brand-logo">
              <img src="assets/images/yantra_logo.jpg">
            </div>
          </mat-card-title>
    <mat-card-subtitle> 
      <div class="card-sub">
      <!-- <p>RABWIN INDUSTRIES&nbsp;PVT.LTD</p> -->
      <p> Sign in continue with Code Compare</p>
      </div>
    </mat-card-subtitle>
        </header>
  </mat-card-header>
  <mat-card-content>
    <div class="card-text">
      <form [formGroup]="login" (ngSubmit)="logintest(login.value)">
          <mat-form-field class="form" appearance="fill">
         <mat-label>Email</mat-label>
            <!-- <mat-icon matSuffix >mail</mat-icon> -->
            <input matInput formControlName="email_id" placeholder="Email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-reflect-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a"  required>
            <mat-error *ngIf="login.get('email_id').hasError('email')"> Enter valid email address</mat-error>
        
          </mat-form-field>
        
          <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email address" ng-reflect-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a" ng-reflect-name="username" ng-reflect-placeholder="Email address" id="mat-input-0" aria-invalid="true" aria-required="false" aria-describedby="mat-error-0"><span class="mat-form-field-label-wrapper"><!--bindings={ -->
        <!-- <input matInput type="password" placeholder="New password" [type]="hide1 ? 'password' : 'text'" required
        formControlName="password" 
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{5,}$" class="pb-1">
        <mat-icon aria-hidden="false" matSuffix (click)="hide1 = !hide1" class="date_select">
                         {{hide1 ? 'visibility_off' : 'visibility'}}
                       </mat-icon> -->
          
          <mat-form-field class="form" appearance="fill">
            <mat-label>Password</mat-label> 
            <input matInput formControlName="password" placeholder="Password" [type]=" hide ? 'password' : 'text'"  required>
            <mat-icon class="eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!--  <mat-icon  *ngIf="visible" slot="end" matSuffix (click)='visible = !visible'>visibility</mat-icon>
            <mat-icon *ngIf="!visible" slot="end"  matSuffix (click)='visible = !visible'>visibility_off</mat-icon> -->
          </mat-form-field>
          <div >
           <button class="Submit" mat-raised-button color="primary">Submit</button>
           </div>
        </form>
        </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
</div>
</div>
</div>
</div>